////////////////////////
// PAGE / BLOG
////////////////////////

.blog {
  @extend .sec;
}

.blog-list {
  .link--read-more {
    @extend .btn-primary;

    display: block;
    text-align: center;
    margin: 2rem 0;
  }
}

.blog-listing {
  margin-bottom: 5rem;
}

.blog-listing__heading {
  font-size: 33px;
  margin: 0;
}

.blog-list__image {
  width: 100%;
}

.blog-list__content {
  padding-bottom: 5rem;
}

.blog-list__content .link--read-more {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.blog-list__excerpt {
  margin: 1rem 0;
}

// blog posts

.blog-posting {
  @extend .sec;
}

.post-title {
  text-transform: uppercase;
  margin: 0;
}

.blog-posting__featured-img {
  width: 100%;
  padding: 3rem 0;
}

.post-demo {
  margin: 3rem 0;
}
