.technology {
  @extend .sec;

  padding: 15rem 0;
}

// TEAM

.team {
  @extend .sec;

  background-color: $grey;
}

.team-header {
  text-align: center;
}

.team-header__heading {
  text-transform: uppercase;
  // margin-bottom: 1rem;
}

.team-member {
  margin: 4rem 0;
}

.team-member__header {
  margin-bottom: 2rem;

  h2 {
    margin: 0;
  }
}

.team-member__img--wrapper {
  @include borderRadius(99px);

  border: 4px solid $white;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
