////////////////////////
// FOOTER
////////////////////////

.site-footer {
  padding-bottom: 0;
}

.footer-top {
  @include cf();
  @extend .sec;

  padding-bottom: 0;
  margin-bottom: 5rem;
}

.footer-blog {
  text-align: left;
}

.footer-blog__heading {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-blog__list-item {
  margin: 2rem 0;
}

.company {
  border-right: 1px solid $grey;
}

.company__info {
  margin-top: 1rem;
}

.company__name {
  font-weight: bold;
}

.company__info span {
  font-size: 18px;
  display: block;
  line-height: 1.5;
}

// footer bottom

.footer-bottom {
  background-color: $sky;
  padding: 4rem 0;
  position: relative;
  color: $white;
}

.footer-social {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: $cm-orange;
  width: 150px;
  box-sizing: border-box;
}

.footer-social__content {
  @include centerAll();

  position: relative;
  text-align: center;
}

.footer-social__link {
  display: inline-block;
}

.footer-social__icon {
  font-size: 3rem;
  color: $white;
  padding: 0 1rem;
}

.footer-social__icon:hover {
  color: $cm-blue;
}
