.jumbotron[role="hero"] {
  background-color: $cm-blue;
  text-align: center;
  position: relative;
  padding: 10rem 0 25rem 0;
  margin: 0;
}

.jumbotron h1 {
  @extend h1;

}

.jumbotron p {
  font-size: 16px;
  line-height: 1.5;
  color: $white;
}

.jumbotron-display {
  width: 80%;
  max-width: 600px;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  position: absolute;
}

.jumbotron-display__img {
  width: 100%;
}
