////////////////////////
// COMPONENT / HERO
////////////////////////

.jumbotron {
  text-align: center;
  position: relative;
  margin: 0;
  background-color: $cm-blue;
}

.jumbotron__heading {
  margin-bottom: 5rem;
}

.jumbotron h1 {
  @extend h1;
}

.jumbotron-display {
  width: 80%;
  max-width: 600px;
  bottom: 0;
}

.jumbotron-display__img {
  width: 100%;
}

.jumbotron p {
  font-size: 16px;
  line-height: 1.5;
  color: $white;
}

.jumbotron--secondary {
  @extend .jumbotron;

  background-size: cover;
  padding: 10rem 0;

  .jumbotron__heading {
    text-align: left;
    max-width: 600px;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $cm-orange;
    opacity: 0.8;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 10;
  }
}

// HOME

.home .jumbotron {
  @extend .jumbotron;

  background-image: url('img/hero-overlay.png');
  background-repeat: no-repeat;

  @include breakpointLargerThan($breakpoint--medium) {
    padding: 10rem 0 25rem 0;
    background-position: 50% 400px;
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    padding: 5rem 0 20rem 0;
    background-position: 50% 500px;
  }

  @include breakpointSmallerThan($breakpoint--small) {
    padding: 5rem 0 10rem 0;
  }
}

.home .jumbotron-display {
  position: absolute;
  left: 50%;
  transform: translateY(50%) translateX(-50%);

}

.jumbotron-display__img {
  width: 100%;
}

// SOLUTION

.page-template-solution-tpl .jumbotron {
  padding-bottom: 0;

  .jumbotron-header {
    margin-bottom: 4rem;
  }
}

.page-template-solution-tpl .jumbotron-display {
  margin: 0 auto;
}

// COMPANY

.page-id-17 .jumbotron {
  background: url('img/hero-company.jpg');
  background-size: 100% auto;

  @include breakpointLargerThan($breakpoint--medium) {
    padding: 10rem 0;
  }
}

.page-id-17 .jumbotron__container {
  @include breakpointLargerThan($breakpoint--medium) {
    width: 900px;
  }
}
