
// about

.about {
  background: url('img/about-bg.png') center right $med-tan no-repeat;
  padding: $base-sec__padding + 20 0 $base-sec__padding 0;
}

.about-header {
  margin-bottom: $base-sec__padding;
}

.about-header__heading {
  text-align: center;
}

.about-cases__list {
  @include cf();

  margin-top: 7rem;
}

.about-cases__list-item {
  @include centerHorizontal();

  position: relative;
}

.about-cases__img {
  width: 100%;
}


// solutions

.solutions {
  padding: $base-sec__padding;
  text-align: center;
}

.solutions-header {
  margin-bottom: $base-sec__padding;
}

.solutions__list-item {
  text-align: center;
}

.solutions__btn {
  margin-top: 1rem;
  padding: 1rem 3.5rem;
  color: $black;
}

// industries

.industries {
  background-image: url('img/us-map.png');
  background-position: center right -400px;
  background-color: $med-tan;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: $base-sec__padding;
}

.industry-list__listing {
  @include cf();
  @include borderRadius(10px);

  padding: 1rem;
  margin: 2rem 0;
  background: $tan;
  border: 2px solid $dark-tan;
}

.industry-icon {
  position: relative;
  padding: 4rem 1rem;
}

.industry-list__content {
  float: right;
  width: 80%;
}
