////////////////////////
// NAV
////////////////////////

.navbar-default {
  background: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  border-color: none;
  border: none;
  margin: 0;
  width: 100%;
  box-shadow: none;
  padding: 1rem 2rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: none;
}

.navbar-default .navbar-nav > li > a {
  color: $cm-blue;
  text-shadow: none;
  padding: 5px 15px;
  display: inline-block;

  @include breakpointSmallerThan($breakpoint--medium) {
    font-size: 36px;
    line-height: 1.5;
  }
}

.navbar-default .navbar-nav > li > a:hover {
  color: darken($cm-blue, 15%);
}

.navbar-collapse {
  border: none;
  border-color: transparent;
}

.navbar-nav {
  padding: 1rem 0;

  @include breakpointLargerThan($breakpoint--medium) {
    float: right;
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.navbar-top {
  @include breakpointLargerThan($breakpoint--medium) {
    text-align: right;
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    text-align: center;
    margin: 2rem 0;
  }
}

.navbar__logo {
  @include breakpointLargerThan($breakpoint--medium) {
    padding: 2rem 0;
  }
}

/*mobile menu*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: $cm-blue;
  height: 3px;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-banjo {
  @include breakpointSmallerThan($breakpoint--medium) {
    display: none;
  }
}

.menu-active {
  overflow: hidden;
  height: 100%;
  width: 100%;

  @include breakpointSmallerThan($breakpoint--medium) {
    .navbar-default {
      position: absolute;
      background: $white;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      z-index: 999;
    }

    .navbar-banjo {
      display: block;
    }
  }
}

/*navbar home*/

.site-login__btn {
  @include breakpointSmallerThan($breakpoint--medium) {
    margin: 1rem 0;
  }
}

.site-login__phone {
  @include breakpointSmallerThan($breakpoint--medium) {
    display: block;
  }
}
