// ==== NAVIGATION ==== //

.site-nav--wrapper {

  @include breakpointLargerThan($breakpoint--large) {
    @include col(8/12);

    text-align: right;
  }
}

.site-nav {
  display: inline-block;
  text-align: right;
}

.site-nav__list li {
  display: inline-block;
}

.site-nav__list a {
  @include font-size(15px);


  color: $cm-blue;
  text-transform: capitalize;
  padding: 1rem 2rem;
}

.site-nav__list a:hover {
  color: darken($cm-blue, 20%);
}

.site-login {
  width: 100%;
  float: right;
  padding-bottom: .5rem;
  text-align: right;
}
