////////////////////////
// COMPONENT / QUOTE
////////////////////////

.quote {
  @extend .sec;

  background-image: url('img/contact-bg.png');
  background-color: $sky;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;

  .quote-header__heading {
    margin-top: 0;
  }

  .quote-header__desc {
    @extend .jumbotron__desc;

    color: $white;
  }

  .quote-form {
    max-width: 415px;
    margin: 0 auto;
  }

  @include breakpointLargerThan($breakpoint--medium) {
    background-size: 100% auto;
  }
}

.quote-header {
  margin-bottom: 2.1rem;
}


// contact {company page}

.page-id-17 .quote {
  background-repeat: repeat-y;

  .quote-form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}

.quote-request {
  @extend .form-box;

  width: 100%;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.quote-form {
  @include cf();

  margin: 1rem 0;
}

.quote-form__input--wrapper {
  padding: .5rem;
}

.quote-form__input {
  width: 100%;
}
