////////////////////////
// COMPONENT / SAVINGS
////////////////////////

.savings-calculator {
  @include borderRadius(5px);

  background: $tan;
  border: 2px solid $dark-tan;
  width: 100%;
  padding: 2rem;
  margin-bottom: 3rem;
}

.savings-calculator__input {
  @include breakpointSmallerThan($breakpoint--medium) {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }
}
