////////////////////////
// COMPONENT / SAVINGS
////////////////////////

.savings-calculator {
  @include borderRadius(5px);

  background: $tan;
  border: 2px solid $dark-tan;
  padding: 1.75rem;
  margin: 4rem 0;

  @include breakpointLargerThan($breakpoint--medium) {
    display: inline-block;

    .calculator {
      display: inline-block;
    }
  }

  @include breakpointSmallerThan($breakpoint--medium) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.savings-calculator__input {
  @include breakpointSmallerThan($breakpoint--medium) {
    font-size: 13px;
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  @include breakpointLargerThan($breakpoint--medium) {
    font-size: 13px;
    float: left;
  }
}

.savings-calculator__label, .gfield_label {
  display: block;
  text-align: left;
  text-transform: capitalize;

  @include breakpointSmallerThan($breakpoint--medium) {
    font-size: 16px;
  }

  @include breakpointLargerThan($breakpoint--medium) {
    font-size: 13px;
  }
}

.savings-calculator__input-row {
  display: inline-block;
  margin: 0 .5rem;
}

.roi__quote {
  @include cf();
  
  text-align: center;
}

.roi__quote input {
  display: inline-block;
  margin: .5rem;
}

.roi__btn {
  padding: .75rem 7rem;

  @include breakpointSmallerThan($breakpoint--large) {
    margin-top: 1rem;
  }

  @include breakpointLargerThan($breakpoint--large) {
    position: relative;
    top: 32px;
  }
}
