////////////////////////
// COMPONENT / SIDEBAR
////////////////////////

.sidebar {
  @include borderRadius(5px);

  background: $grey;
  padding: 2rem;

  p {
    margin-bottom: 0;
  }
}

.sidebar-widget {
  h2 {
    text-transform: capitalize;
  }
}

.sidebar-heading {
  font-size: 18px;
  margin: 0 0 10px 0;
}

// sidebar form

.sidebar-form {
  padding: 1rem 0;

  input[type="submit"] {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.sidebar-form__input {
  width: 100%;
}

.sidebar-form__btn {
  display: block;
  text-align: center;
}

// sidebar list

.sidebar-list {
  li {
    border-bottom: 1px solid $black;
    display: block;
    padding: .5rem 0;
    text-transform: capitalize;
  }
}

// sidebar-subscribe

.sidebar-subscribe {
  @extend .sidebar;

  background: $med-tan;

  input {
    border: none;
    margin: .75rem 0;
  }

  .sidebar-form__btn {
    width: 100%;
  }

  .sidebar-heading {
    font-size: 24px;
    line-height: 1.2;
  }
}

// post-data

.post-data {
  margin-bottom: 2rem;

  p {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.post-data__img, .avatar.photo {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

.post-data__author {
  text-transform: capitalize;
}

// sidebar-demo

.sidebar-demo {
  @extend .sidebar;

  background-color: $tan;
  border: 3px solid $dark-tan;
  padding: 1.8rem;

  textarea {
    max-height: 180px;
  }
}

.sidebar-demo__contact {
  p {
    font-size: 14px;
    font-weight: 500;
  }
}

// sidebar-email

.sidebar-email {
  margin-bottom: 5.5rem;
}
