////////////////////////
// COMPONENT / SIDEBAR
////////////////////////

.sidebar {
  @include borderRadius(5px);

  background: $grey;
  padding: 2rem;

  p {
    margin-bottom: 0;
  }
}

.sidebar-heading {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.sidebar-form {
  padding: 2rem 0;
}

.sidebar-form__input {
  width: 100%;
  // display: block;
}

.sidebar-form__btn {
  display: block;
  text-align: center;
}

.sidebar-widget {
  h2 {
    text-transform: capitalize;
  }
}

// sidebar list

.sidebar-list {
  li {
    border-bottom: 1px solid $black;
    display: block;
    padding: .5rem 0;
    text-transform: capitalize;
  }
}

// blog

.sidebar-subscribe {
  @extend .sidebar;

  background: $tan;
  border: 3px solid $dark-tan
}

// post-data

.post-data {
  margin-bottom: 2rem;

  p {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.post-data__img {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

// contact

.sidebar-email {
  margin-bottom: 3rem;
}
