////////////////////////
// COMPONENT / SLIDERS
////////////////////////

// DEFAULT SLICK SLIDER
.slick-list {
  overflow: visible;
}

.slick-dots {
  // bottom: 15px;
}

.slick-prev:before, .slick-next:before {
  @include borderRadius(99px);

  color: $grey;
}

.slick-dots li, .slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  @include borderRadius(99px);

  height: 10px;
  width: 10px;
  font-size: 10px;
  color: transparent;
  border: 5px solid darken($grey, 25%);
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  @include borderRadius(99px);

  border: none;
  background-color: $cm-blue;
  color: transparent;
}

// Feature Slider

.feature-slider__control {
  @extend .form-box;

  padding: .5rem 2rem;
  outline: none;
  cursor: pointer;
  width: 100% !important;
  margin: .5rem 0;
}

.feature-slider__heading {
  margin: 0;
}

.feature-slider__slide {
  @include borderRadius(5px);

  overflow: hidden;
  width: 100%;
}
