////////////////////////
// PAGE / SOLUTION
////////////////////////

// ABOUT

.solution-about {
  padding: 4rem 0;
  background-color: $grey;
}


// BENEFITS

.benefits {
  @extend .sec;
}

.benefits-header {
  text-align: center;
}

.benefits-list {
  text-align: center;
}

.benefits-list__icon {
  padding: $base-sec__padding;
  color: $cm-blue;
  font-size: 120px;
}

.benefits-list__heading {
  margin-top: 0;
  text-transform: capitalize;
}


// SOLUTIONS

.solution-features {
  @extend .sec;

  background: $grey;
  overflow: hidden;
}

// PROCESS

.process {
  @extend .sec;
}

.reimbursement-list {
  @include cf();

  margin: 4rem 0;
}

.reimbursement-list__icon {
  @include borderRadius(99px);

  padding: 10px 16px;
  // width: 15px;
  // height: 15px;
  color: $white;
  background-color: $cm-blue;
  display: inline-block;
  float: left;
}

.reimbursement-display {
  @include breakpointLargerThan($breakpoint--large) {
    position: relative;
    transform: translateY(50%);
    top: -50%;
  }

  @include breakpointSmallerThan($breakpoint--large) {
    text-align: center;
  }
}

// ONBOARDING

.onboarding {
  @extend .sec;

  background-color: $grey;
}

.onboarding-header {
  text-align: center;
}

.onboarding-process__step {
  @include cf();

  height: 140px;
  margin: 3rem 0;
}

.onboarding-process__icon {
  @include centerHorizontal();

  position: relative;
  float: left;
  width: 10%;
  padding: .3rem;
}

.onboarding-process__step-content {
  float: left;
  width: 90%;
  height: 140px;
}

.onboarding-process__heading {
  font-size: 19px;
  text-transform: capitalize;
  margin: 0;
}

.onboarding-process__step-content {
  @extend .form-box;

  // padding: 2rem;
}

.onboarding-process__step-content p {
  font-size: 14px;
}
