// ABOUT

.solution-about {
  padding: 4rem 0;
  background-color: $grey;
}


// BENEFITS

.benefits {
  @extend .sec;
}

.benefits-header {
  text-align: center;
}

.benefits-list {
  text-align: center;
}

.benefits-list__icon {
  padding: $base-sec__padding;
  color: $cm-blue;
  font-size: 120px;
}

.benefits-list__heading {
  margin-top: 0;
  text-transform: capitalize;
}


// SOLUTIONS

.solution-features {
  @extend .sec;

  background: $grey;
}

// PROCESS

.process {
  @extend .sec;
}

.reimbursement-list {
  @include cf();

  margin: 4rem 0;
}

.reimbursement-list__icon {
  @include borderRadius(99px);

  padding: 10px 16px;
  // width: 15px;
  // height: 15px;
  color: $white;
  background-color: $cm-blue;
  display: inline-block;
  float: left;
}

.reimbursement-display {
  @include breakpointLargerThan($breakpoint--large) {
    position: relative;
    transform: translateY(50%);
    top: -50%;
  }

  @include breakpointSmallerThan($breakpoint--large) {
    text-align: center;
  }
}

// ONBOARDING

.onboarding {
  @extend .sec;

  background-color: $grey;
}

.onboarding-header {
  text-align: center;
}
