////////////////////////
// COMPONENT / SUBHEAD
////////////////////////

.subhead {
  background-color: $grey;
  height: 95px;

  .container, .row {
    height: 100%;
  }

  .subhead__ico, .subhead__heading {
    @include breakpointLargerThan($breakpoint--large) {
      font-size: 36px;
    }

    @include breakpointBetween($breakpoint--medium, $breakpoint--large) {
      font-size: 33px;
    }

    @include breakpointBetween($breakpoint--small, $breakpoint--medium) {
      font-size: 28px;
    }

    @include breakpointSmallerThan($breakpoint--small) {
      font-size: 22px;
    }
  }

  a > i:hover {
    color: darken($cm-blue, 15%);
  }
}

.subhead-header {
  @include centerHorizontal();

  position: relative;
}

.subhead__ico {
  display: inline-block;
  color: $cm-blue;
  margin-right: 1rem;
}

.subhead__ico-arrow--left {
  margin-right: 2rem;
}

.subhead__ico-arrow--right {
  margin-left: 2rem;
}

.subhead__heading {
  color: $cm-blue;
  display: inline-block;
  margin: 0;
}

.subhead-social {
  @include centerHorizontal();

  position: relative;
  text-align: right;

  @include breakpointSmallerThan($breakpoint--small) {
    display: none;
  }
}
