// ==== BUTTONS ==== //

.btn {
  @include borderRadius(3px);
  @include font-size(14px);

  display: inline-block;
  text-transform: capitalize;
}

.btn-primary {
  @extend .btn;

  padding: .5rem 1rem;
  color: $white;
  background-color: $cm-orange;
}

.btn-primary:hover {
  color: $white;
  background-color: darken($cm-orange, 5%);
}

.btn-secondary {
  @extend .btn;

  padding: .5rem 2rem;
  color: $cm-blue;
  border: 1px solid #ededed;
}
