// ==== BUTTONS ==== //

.btn {
  @include borderRadius(3px);

  font-size: 14px;
  display: inline-block;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
}

.btn-primary {
  @extend .btn;

  color: $white;
  background-color: $cm-orange;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: $white;
  background-color: darken($cm-orange, 5%) !important; //bootstrap override
}

.btn-secondary {
  @extend .btn;

  color: $cm-blue;
  border: 1px solid #ededed;
}
