// ==== BUTTONS ==== //

.btn {
  @include borderRadius(3px);

  font-size: 14px;
  display: inline-block;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
}

.btn-primary {
  @extend .btn;

  color: $white;
  background-color: $cm-orange;
  border: none;

  &:hover, &:active, &:focus {
    color: $white;
    background-color: darken($cm-orange, 10%); //bootstrap override
  }
}

.btn-secondary {
  @extend .btn;

  color: $cm-blue;
  border: 1px solid #ededed;
}

.btn--long {
  display: block;
  text-align: center;
  margin: 1rem 0;

  @include breakpointSmallerThan($breakpoint--large) {
    max-width: 350px;
    margin: 1rem auto;
  }
}

.btn-primary--orange {
  @extend .btn--long;
  @extend .btn-primary;
}

.btn-primary--blue {
  @extend .btn--long;
  @extend .btn-primary;

  background-color: $cm-blue;

  &:hover, &:active, &:focus {
    background-color: darken($cm-blue, 20%);
  }
}

.btn-primary--light-grey {
  @extend .btn--long;
  @extend .btn-primary;

  background-color: $med-tan;
  color: $black;

  &:hover, &:active, &:focus {
    background-color: darken($med-tan, 20%);
  }
}

.btn-primary--grey {
  @extend .btn--long;
  @extend .btn-primary;

  background-color: $dark-grey;

  &:hover, &:active, &:focus {
    background-color: darken($dark-grey, 20%);
  }
}

.btn-primary--sky {
  @extend .btn--long;
  @extend .btn-primary;

  background-color: $sky;

  &:hover, &:active, &:focus {
    background-color: darken($sky, 10%);
  }
}
