// ==== FORMS ==== //

input {
  @include borderRadius(5px);

  border: 2px solid $dark-tan;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.form-box {
  @include cf();
  @include borderRadius(10px);

  background: $tan;
  border: 2px solid $dark-tan;
  padding: 2rem;
}

// contact form 7

.wpcf7 input {
  max-width: 100%;
}

.wpcf7-response-output.wpcf7-validation-errors {
  float: none;
  display: inline-block;
}

.wpcf7[role="form"] {
  p {
    display: inline-block;
  }
}

.page-template-home-tpl .wpcf7[role="form"] {
  p {
    display: block;
  }
}
