// ==== FORMS ==== //

input, textarea {
  @include borderRadius(5px);

  border: 2px solid $dark-tan;
  padding: .75rem 1.5rem;
  margin-bottom: 1rem;
}

.form-box {
  @include cf();
  @include borderRadius(10px);

  background: $tan;
  border: 2px solid $dark-tan;
  padding: 2rem;
}

// contact form 7

.wpcf7 input {
  max-width: 100%;
}

.wpcf7-response-output.wpcf7-validation-errors {
  float: none;
  display: inline-block;
}


// gravity forms
// override craziness

.gform_wrapper {
  // margin: 0 !important;
  // max-width: 100% !important;
  //
  .gform_body {
    @include cf();

    input, textarea {
      width: 100% !important;
      font-size: 16px !important;
      // margin: 1rem 0;
    }

    textarea {
      max-height: 185px;
    }
  }

  label {
    display: none !important;
  }

  input[type="submit"] {
    @extend .btn-primary;

    padding: 1rem 5rem;
  }

  .ginput_container_select {
    padding-top: .1rem;

    .gfield_select {
      @extend input;

      font-size: 16px !important;
      background: $white;
      color: #a9a9a9;
      padding: 0 !important;
    }
  }

  // li input {
  //   margin: .75rem 0 !important;
  //   display: inline-block;
  // }
  //
  // .gform_button {
  //   @extend .btn-primary;
  // }
  //
  // .gform_footer, .gform_footer.top_label {
  //   margin: 0 !important;
  //   padding: 0;
  // }
  //
  // .ginput_container {
  //   margin: 0 !important;
  // }
}
