body {
  font-family: $base-font-family--sans-serif;
}

.container {
  max-width: $container;
}

.sec {
  padding: $base-sec__padding;

  header {
    margin-bottom: 3rem;
  }

  header > h2 {
    margin-bottom: 3rem;
  }
}
