// ==== TYPEOGRAPHY ==== //

body {
  font-family: $base-font-family--sans-serif;
}

a {
  color: $cm-blue;
  text-decoration: none !important;
}

a:hover {
  color: lighten($cm-blue, 15%);
}

h1 {
  font-family: $base-font-family--sans-serif;
  font-size: 36px;
  color: $white;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-family: $base-font-family--sans-serif;
  font-size: 22px;
  color: $black;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-family: $base-font-family--sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  line-height: 1.5;
}

h4 {
  font-family: $base-font-family--sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-family: $base-font-family--sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}
