// ==== CONFIGURATION ==== //

///////////////////////////////
/// BREAKPOINTS
///////////////////////////////

$breakpoint--xlarge: 1200px;
$breakpoint--large: 992px;
$breakpoint--medium: 768px;
$breakpoint--small: 480px;
$container: 900px;

///////////////////////////////
/// TYPEOGRAPHY
///////////////////////////////

$base-font-family--serif: 'Times New Roman', serif;
$base-font-family--sans-serif: "futura-pt", arial, sans-serif;
$base-font-size: 18px;

///////////////////////////////
/// SPACING
///////////////////////////////

$base-sec__padding: 6rem;

///////////////////////////////
/// SLICK SLIDER
///////////////////////////////

$slider-heading__width: 55%;
$slider__height--small: 225px;
$slider__height--large: 425px;
$slider__height--xlarge: 500px;
$slider__margin-bottom: 5rem;
$slider-dots__color--inactive: $black;
$slider-dots__color--active: blue;


///////////////////////////////
/// METADATA
///////////////////////////////

$page-template__solution: (page-id: "13");


///////////////////////////////
/// METADATA
///////////////////////////////

$_metadata: (
  theme-name:               "Company Mileage 1.0.10"
, theme-uri:                ""
, theme-author:             "Brandcave"
, theme-author-uri:         "http://brandcave.co"
, theme-description:        "A responsive theme"
, theme-version:            "1.0.10"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "Company Mileage"
, theme-text-domain-path:   "/languages/"
);
