////////////////////////
// PAGE / BLOG
////////////////////////

.site-blog {
  @extend .sec;
}

.blog-list {
  .link--read-more {
    @extend .btn-primary;

    display: block;
    text-align: center;
    margin: 2rem 0;
  }
}

.blog-listing {
  margin-bottom: 5rem;
}

.blog-listing__heading {
  font-size: 33px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.blog-list__image {
  width: 100%;
}

.blog-list__content {
  padding-bottom: 5rem;
}

.blog-list__content .link--read-more {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.blog-list__excerpt {
  margin: 1rem 0;
}

// blog posts

.blog-posting {
  @extend .sec;

  .content {
    @include breakpointSmallerThan($breakpoint--medium) {
      padding-top: 2rem;
    }
  }
}

.post-title {
  font-size: 33px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.blog-posting__featured-img {
  width: 100%;
  padding: 3rem 0;
}

.post-demo {
  margin: 3rem 0;

  .demo-request {
    padding: 3.1rem 1.8rem;
  }
}

// pagination

.pagination {
  @include borderRadius(0);

  background-color: $med-tan;
  position: relative;
  color: $black;
  width: 100%;
  margin: 0;
  display: block;

  @include breakpointLargerThan($breakpoint--small) {
    height: 80px;
    border: 1px solid $dark-grey;
  }
}

.pagination__count {

  padding: 0 2rem;
  position: relative;

  @include breakpointLargerThan($breakpoint--small) {
    @include centerHorizontal();

    float: left;
  }

  @include breakpointSmallerThan($breakpoint--small) {
    padding: 1rem 0;
    text-align: center;
    background: darken($grey, 5%);
  }
}

.pagination__nav--next {
  height: 100%;
  box-sizing: border-box;

  @include breakpointLargerThan($breakpoint--small) {
    width: 150px;
    float: right;
    border-left: 1px solid $dark-grey;
  }
}

.pagination__nav--prev {
  height: 100%;
  box-sizing: border-box;

  @include breakpointLargerThan($breakpoint--small) {
    float: left;
    border-right: 1px solid $dark-grey;
    width: 150px;
  }
}

.pagination__links {

  position: relative;
  text-align: center;

  @include breakpointLargerThan($breakpoint--small) {
    @include centerAll();
  }

  @include breakpointSmallerThan($breakpoint--small) {
    a {
      padding: 1rem 0;
      display: block;
    }
  }

}
