////////////////////////
// PAGE  / CONTACT
////////////////////////

.contact {
  @extend .sec;
}

.contact-content {
  strong {
    font-size: 22px;
    font-weight: 400;

    @include breakpointSmallerThan($breakpoint--medium) {
      font-size: 18px;
    }
  }
}
