////////////////////////
// PAGE / DEMO
////////////////////////

.page-template-demo-tpl {
  .jumbotron {
    padding: 8rem 0 17rem 0;
    margin-bottom: 16rem;

    @include breakpointSmallerThan($breakpoint--medium) {
      margin-bottom: 25rem;
    }

    .container {
      position: relative;
    }
  }

  .jumbotron__heading {
    margin-bottom: 3rem;
    font-weight: 400;
  }

  .jumbotron__heading--secondary {
    font-size: 23px;
    display: block;
    padding-top: 3rem;
    font-weight: 400;
    color: $white;
  }

  .quote-request {
    position: absolute;
    bottom: -330px;

    @include breakpointSmallerThan($breakpoint--medium) {
      bottom: -400px;
    }
  }
}
